# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Environments
env/
.venv/
venv/
ENV/
.pyenv/
.pytest_cache/

# Jupyter/Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Large libraries (if any)
*.dylib
*.so